<app-header-admin></app-header-admin>

<section class="socios-container">

  <div class="top-bar">
    <div class="titulo-seccion">
      <h1>👥 Gestión de empleados</h1>
      <p class="subtitulo">Visualiza y administra a todos los empleados</p>
    </div>
    <button class="btn-primary" [routerLink]="['/crearEmpleado']">+ Agregar empleado</button>
  </div>

  <div class="tabla-wrapper">

    <table class="tabla-socios">
      <thead>
        <tr>
          <th>Numero empleado</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      

      <tbody>

        @if (cargando) {
          <p>Cargando a los empleados</p>
        } @else{
          @for (emp of empleado; track $index) {

          
          <tr>
            <td class="col-id">{{ $index + 1 }}</td>
            <td class="font-bold">{{ emp.nombre }}</td>
            <td>{{ emp.apellido }}</td>
            <td class="text-muted">{{ emp.email }}</td>
            <td class="acciones-celda">
              <button class="btn-icon btn-view" title="Ver detalle" (click)="verEmplado(emp.id)">
                👁️ Ver
              </button>
              <button class="btn-icon btn-edit" title="Editar socio">
                ✏️ Editar
              </button>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="5" class="tabla-vacia">
              <div class="vacio-content">
                <p>No se encontraron empleados registrados en el sistema.</p>
              </div>
            </td>
          </tr>
        }
        }
      </tbody>
    </table>

  </div>

</section>