.campo{
    margin-top: 15px;
    margin-left: 15px;
}

input{
    margin-left: 15px;
}

button{
    margin-top: 15px;
}

select{
    margin-left: 15px;
}

.contenedorNum{
    display: flex;
}

.contenedor{
    border: 1px solid;
    width: 70%;
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.numero{
    display: flex;
    align-items: center;
}