.header{
    padding: 50px;
    border-radius: 25px;
    background-color: azure;
    display: flex;
    align-items: center;
}

button{
    padding: 15px;
    margin-left: 25px;
    border-radius: 10px;
    background-color: rgb(108, 113, 212);
    font-size: 15px;
}

button:hover{
    background-color: red;
}

h1{
    font-size: 40px;
}